In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "Resources/DJIA.csv"
file_two = "Resources/NASDAQ100.csv"
file_three = "Resources/SP500.csv"
file_four = "Resources/HPI_master.csv"

In [3]:
# Read our Data files with the pandas library
#create dataframes
#DJIA_df = pd.read_csv(file_one)
#DJIA_df

In [4]:
#NAS_df = pd.read_csv(file_two)
#NAS_df

In [5]:
#SP500_df = pd.read_csv(file_three)
#SP500_df

In [6]:
#import data from CSV
HPI_df = pd.read_csv(file_four)
HPI_df.head()

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.99,101.07
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.37,101.00
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.75,101.04
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.39,101.44

In [7]:
#drop unnecessary columns
HPI_working = HPI_df.drop(columns = ['hpi_type', 'hpi_flavor', 'level', 'place_id', 'index_sa'])
HPI_working.head()

  frequency                   place_name    yr  period  index_nsa
0   monthly  East North Central Division  1991       1     100.00
1   monthly  East North Central Division  1991       2     100.99
2   monthly  East North Central Division  1991       3     101.37
3   monthly  East North Central Division  1991       4     101.75
4   monthly  East North Central Division  1991       5     102.39

In [8]:
HPI_working.size

544030

In [9]:
#remove extra place names, only want regional and U.S.
#split by geographic region
# the data is divided into 9 census divisions (+puerto rico?)

place_names = HPI_working["place_name"].unique()
#print(place_names)

#Note: the HPI DATA contains a huge number of place names.  Want only regional and U.S.

In [10]:
#shorten the place names list to the first 10 elements.  9 region + U.S. average
place_names = place_names[:10]
place_names

array(['East North Central Division', 'East South Central Division',
       'Middle Atlantic Division', 'Mountain Division',
       'New England Division', 'Pacific Division',
       'South Atlantic Division', 'West North Central Division',
       'West South Central Division', 'United States'], dtype=object)

In [11]:
#remove quarterly data

HPI_working = HPI_working.drop(HPI_working[HPI_working.frequency == "quarterly"].index)

HPI_working.head()

  frequency                   place_name    yr  period  index_nsa
0   monthly  East North Central Division  1991       1     100.00
1   monthly  East North Central Division  1991       2     100.99
2   monthly  East North Central Division  1991       3     101.37
3   monthly  East North Central Division  1991       4     101.75
4   monthly  East North Central Division  1991       5     102.39

In [12]:
HPI_working.size

16950

In [13]:
#remove unnecessary rows so data is 01/2009+

HPI_working = HPI_working.loc[HPI_working['yr'] >= 2009]
HPI_working.head()

    frequency                   place_name    yr  period  index_nsa
216   monthly  East North Central Division  2009       1     171.89
217   monthly  East North Central Division  2009       2     171.26
218   monthly  East North Central Division  2009       3     170.48
219   monthly  East North Central Division  2009       4     170.35
220   monthly  East North Central Division  2009       5     173.98

In [14]:
HPI_working.size

6150

## NOTE: DATA starting in 2009 must be "zeroed" because is it a referant of 1991 data as %

In [15]:
#extract U.S. placename data
US_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[9]]
US_HPI.head()

     frequency     place_name    yr  period  index_nsa
3267   monthly  United States  2009       1     194.66
3268   monthly  United States  2009       2     195.48
3269   monthly  United States  2009       3     193.65
3270   monthly  United States  2009       4     193.98
3271   monthly  United States  2009       5     195.15

In [16]:
US_HPI.size

615

In [17]:
#create dataframes for each region
ENC_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[0]]
ESC_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[1]]
MAD_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[2]]
MD_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[3]]
NED_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[4]]
PD_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[5]]
SAD_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[6]]
WNC_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[7]]
WSC_HPI = HPI_working.loc[HPI_working['place_name'] == place_names[8]]

In [18]:
#adjust percent change

US_abs_change = US_HPI["index_nsa"]
US_abs_change = US_abs_change.to_list()
US_abs_change
len(US_abs_change)

123

In [19]:
US_pct_change = []

for num in range(len(US_abs_change)):
    #print(num)
    try:
        x = (US_abs_change[num+1]/US_abs_change[num]*100)-100
        print(x)
        US_pct_change.append(x)
    except IndexError: 
        US_pct_change.append(0)

0.42124730298982627
-0.9361571516267588
0.17041053446939713
0.6031549644293364
0.39456828080960804
-0.3726010616578179
-0.41498027562887785
-0.4938779709846699
-0.020680384655150874
-0.10859447719516879
-1.7031630170316276
-0.46345060037918984
-0.2275132275132279
0.31818422866840024
0.893376328170433
0.911662999056901
-0.5295950155763052
-0.7412047186553963
-0.3260412284392089
-1.4508810805107117
-0.10171850741474486
-0.7395498392282889
-1.533311737393376
-1.0308147823226221
-0.9085872576177252
-0.4808229900480967
1.0449438202247308
0.7172245079506183
0.9439690863924994
0.21327791753253678
-0.6930422919509027
0.10990218705353527
-0.9221648918651937
0.1385041551246644
-0.508990318118947
-0.889729188678217
0.16832183134152956
1.5459586624096744
1.412102156765414
1.6752787598585712
0.9950248756218798
0.21717251973092289
0.14270613107822783
-0.184725814113051
0.09517766497462787
0.19545694664553537
-0.27416038382452257
0.11102299762093537
0.6918039712716393
1.8041642628625567
1.385812168358143
1.8495934959349398
1.2073438435442228
0.5471753918958768
-0.1764965436093462
-0.024556750650759795
-0.23580271173118206
-0.23143588733503861
-0.2122303933665819
-0.1632208922742251
0.5548674758484111
1.2563433019658277
1.0996496691319635
1.0973144672249475
1.0806436256307848
0.3626430556209499
-0.028155795401218597
-0.4834772812617416
0.1132022074430381
0.09893992932863682
0.07060152499293793
-0.5644137152532807
0.9129180265834265
1.3218336926970977
1.0594004441154823
1.4328221560998173
0.992869392544435
0.37983734024487603
-0.26265414236745244
0.08926977325478447
-0.03121655369248799
0.28549761341838575
-0.1512388238957385
-0.02227469149552519
0.3520185366723325
1.6695528617734539
1.0874787090011893
1.2658774734295264
0.908741840522211
0.4946727549467198
0.05890024822248563
0.15557330866585062
0.004198152812762146
0.29385836027033463
-0.10045623875100773
-0.4860267314702327
1.1325838912045896
1.5570358034970866
1.324096089202257
1.2096937330582165
0.6236008954269181
0.5800095344033167
0.34757879769333044
-0.03542470282610566
0.21262353821316538
0.24360535931791105
-0.07447183788656275
0.26280693496509855
1.1345409021556065
1.233994816448103
0.9514711501719546
1.1620424694348799
0.7184015565367048
0.438368378037012
0.09616807220002954
-0.18106570098292707
-0.08144226853735859
0.21859138231261
-0.2550831792975998
0.029650494792619497
0.6817592352440016
1.1040370956464187

In [20]:
len(US_pct_change)

123

In [21]:
US_pct_change[0]

0.42124730298982627

In [22]:
# add columns
US_HPI.insert(5, "Pct_change",  US_pct_change)

In [24]:
US_HPI

     frequency     place_name    yr  period  index_nsa  Pct_change
3267   monthly  United States  2009       1     194.66    0.421247
3268   monthly  United States  2009       2     195.48   -0.936157
3269   monthly  United States  2009       3     193.65    0.170411
3270   monthly  United States  2009       4     193.98    0.603155
3271   monthly  United States  2009       5     195.15    0.394568
3272   monthly  United States  2009       6     195.92   -0.372601
3273   monthly  United States  2009       7     195.19   -0.414980
3274   monthly  United States  2009       8     194.38   -0.493878
3275   monthly  United States  2009       9     193.42   -0.020680
3276   monthly  United States  2009      10     193.38   -0.108594
3277   monthly  United States  2009      11     193.17   -1.703163
3278   monthly  United States  2009      12     189.88   -0.463451
3279   monthly  United States  2010       1     189.00   -0.227513
3280   monthly  United States  2010       2     188.57    0.318184
3281   monthly  United States  2010       3     189.17    0.893376
3282   monthly  United States  2010       4     190.86    0.911663
3283   monthly  United States  2010       5     192.60   -0.529595
3284   monthly  United States  2010       6     191.58   -0.741205
3285   monthly  United States  2010       7     190.16   -0.326041
3286   monthly  United States  2010       8     189.54   -1.450881
3287   monthly  United States  2010       9     186.79   -0.101719
3288   monthly  United States  2010      10     186.60   -0.739550
3289   monthly  United States  2010      11     185.22   -1.533312
3290   monthly  United States  2010      12     182.38   -1.030815
3291   monthly  United States  2011       1     180.50   -0.908587
3292   monthly  United States  2011       2     178.86   -0.480823
3293   monthly  United States  2011       3     178.00    1.044944
3294   monthly  United States  2011       4     179.86    0.717225
3295   monthly  United States  2011       5     181.15    0.943969
3296   monthly  United States  2011       6     182.86    0.213278
...        ...            ...   ...     ...        ...         ...
3360   monthly  United States  2016      10     238.21    0.293858
3361   monthly  United States  2016      11     238.91   -0.100456
3362   monthly  United States  2016      12     238.67   -0.486027
3363   monthly  United States  2017       1     237.51    1.132584
3364   monthly  United States  2017       2     240.20    1.557036
3365   monthly  United States  2017       3     243.94    1.324096
3366   monthly  United States  2017       4     247.17    1.209694
3367   monthly  United States  2017       5     250.16    0.623601
3368   monthly  United States  2017       6     251.72    0.580010
3369   monthly  United States  2017       7     253.18    0.347579
3370   monthly  United States  2017       8     254.06   -0.035425
3371   monthly  United States  2017       9     253.97    0.212624
3372   monthly  United States  2017      10     254.51    0.243605
3373   monthly  United States  2017      11     255.13   -0.074472
3374   monthly  United States  2017      12     254.94    0.262807
3375   monthly  United States  2018       1     255.61    1.134541
3376   monthly  United States  2018       2     258.51    1.233995
3377   monthly  United States  2018       3     261.70    0.951471
3378   monthly  United States  2018       4     264.19    1.162042
3379   monthly  United States  2018       5     267.26    0.718402
3380   monthly  United States  2018       6     269.18    0.438368
3381   monthly  United States  2018       7     270.36    0.096168
3382   monthly  United States  2018       8     270.62   -0.181066
3383   monthly  United States  2018       9     270.13   -0.081442
3384   monthly  United States  2018      10     269.91    0.218591
3385   monthly  United States  2018      11     270.50   -0.255083
3386   monthly  United States  2018      12     269.81    0.029650
3387   monthly  United States  2019       1     269.89    0.681759
3388   monthly  United States  2019       2     271.73    1.104037
3389   monthly  United States  2019       3     274.73    0.000000

[123 rows x 6 columns]

In [26]:
US_HPI.to_csv("US_HPI_pct.csv")